<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBP_TeamProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBP_TeamProject.Properties.Settings>
            <setting name="LoginIDSave" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPWSave" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadManager" serializeAs="String">
                <value>False</value>
            </setting>
        </DBP_TeamProject.Properties.Settings>
    </userSettings>
</configuration>